.payment-type-form-modal {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-left: 40px;
  padding-right: 85px;
  padding-bottom: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  background-color: white;
  text-align: center;
  width: 320px;
  z-index: 10;
  
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.payment-type-form-heading-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.payment-type-form-close {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: -50px;
  margin-top: -50px;
  font-size: 22px;
  cursor: pointer;

}

.payment-type-form-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
}

.payment-type-form-heading-title {
  font-size: 27px;
  font-weight: 800;
  padding-bottom: 2px;
}

.payment-type-form-heading-sub-title {
  font-size: 14.5px;
  font-weight: 600;
  color: #00000085;
}

.payment-type-form-content {
  display: flex;
  flex-direction: row;
}

.payment-type-form-number-logo-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.payment-type-form-date-cvv-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.payment-type-form-card-data-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
  border-radius: 8px;
  padding: 8px;
  padding-left: 15px;
  cursor: pointer;
}

.payment-type-form-field-heading{
  font-weight: 600;
  font-size: 11px;
  color: #00000085;
  cursor: pointer;
}

.payment-type-form-field-input {
  border: 0px;
  font-size: 25px;
  color: #000;
  font-weight: 500;
  text-align: left;
  cursor: pointer;
}

.payment-type-form-field-input:focus, input:focus{
  outline: none;
}

.payment-type-form-date {
  width: 150px;
}

.payment-type-date-input {
  width: 140px;
}


.payment-type-form-cvv-input{
  width: 150px;
}

.payment-type-form-bank-logo {
  width: 60px;
  margin-left: 25px;
  margin-top: -13px;
}

.payment-type-form-card-icon {
  margin-top: -10px;
}

.payment-type-form-submit {
  flex: 1;
  font-size: 44px;
  margin-right: -100px;
  margin-top: -10px;
  cursor: pointer;
}

.payment-type-form-custom-amount{
  width: 200px;
}

/* 
.btn {
    font: inherit;
    cursor: pointer;
    border-radius: 14px;
    background-color: #1E3472;
    color: white;
    border: 1px solid #1C2542;
    margin: auto;
  justify-content: center;
    text-align: center;
  }
  
  .btn:hover {
    background-color: #9c1458;
    border-color: #9c1458;
  }
  
  .btn--alt {
    background-color: transparent;
    color: #800040;
  }
  
  .btn--alt:hover {
    background-color: #f8dae9;
  }
  
  .card {
    background-color: white;
    border-radius: 14px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: 20rem;
  }
  
  .actions {
    text-align: right;
  }
  
  .modal {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    background-color: white;
    padding: 1rem;
    text-align: center;
    width: 40rem;
    z-index: 10;
    position: fixed;
    top: 20vh;
    left: calc(50% - 15rem);
  }
  
  .backdrop {
    position: fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  } */