.trans-hist-row-main {
    display: flex;
    direction: row;
    align-items: center;
    padding: 10px;
    padding-bottom: 0px;
    width:395px;
}

.trans-hist-rown-bank-image{
    width: 48px;
    height: auto;
    margin-right: 15px;
    border-radius: 10px;
}

.trans-hist-row-col-1 {
    display: flex;
    flex-direction: column;
    flex:1
}

.trans-hist-row-col-2 {
    display: flex;
    flex-direction: column;
}

.trans-hist-row-card-number {
    font-size: 16px;
    font-weight: 600;
}

.trans-hist-row-payment-info {
    display: flex;
    align-items: center;
}

.trans-hist-row-transaction-type {
    font-size: 12px;
    font-weight: 700;
    margin-right: 5px;
}

.trans-hist-row-floating-dot {
    font-size: 16px;
    margin-right: 5px;
}

.trans-hist-row-paid-date {
    font-size: 12px;
    font-weight: 600;
}

.trans-hist-row-amount-paid {
    font-size: 17px;
    font-weight: 700;
    align-self: flex-end;
}

.trans-hist-row-points-earned {
    font-size: 12px;
    font-weight:600;
}